* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.video video {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "a a a a s s"
    "a a a a s s"
    "d d d d s s"
    "d d d d s s";
  transition: opacity 500ms ease-in-out;
}

.inactive {
  opacity: 0;
}

.audio {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio img {
  width: 50px;
  cursor: pointer;
}

.audio .progress {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 40px;
}

.audio .progress svg {
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
}

.audio .progress .audio-remaining-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "segoe UI", Tahoma, Sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
}
.durations {
  grid-area: d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25%;
}

.durations .duration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.durations .duration img {
  width: 75px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px #222);
}

.durations .duration p {
  font-family: "segoe UI", Tahoma, Sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  margin-top: 5px;
  text-shadow: 0px 0px 15px #222;
}

.seasons {
  grid-area: s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40% 0;
}

.seasons .season img {
  width: 75px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px #222);
}

.toggle-menu {
  display: none;
}
/* for small screens*/
@media screen and (max-width: 800px) {
  .video video {
    height: 100%;
    top: 50%;
  }

  .app {
    grid-template-areas:
      "a"
      "a"
      "a"
      "d";
  }

  .audio .progress {
    width: 175px;
    height: 175px;
    margin: 0 10px;
  }

  .audio .play img,
  .pause img {
    width: 40px;
  }

  .audio .progress svg {
    width: 175px;
    height: 175px;
  }

  .audio .progress .rect,
  .rect1 {
    width: 125px;
    height: 125px;
  }

  .audio .progress .audio-remaining-time {
    font-size: 1.5rem;
  }

  .durations {
    padding: 0 10px;
  }
  .durations .duration img {
    width: 60px;
  }

  .durations .duration p {
    font-size: 1rem;
  }

  .seasons {
    position: absolute;
    top: 20px;
    left: -250px;
    padding: 5px;
    flex-direction: row;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    transition: left 500ms ease-in-out;
  }

  .open {
    left: 0px;
  }

  .seasons .season {
    margin-left: 10px;
  }

  .seasons .season img {
    width: 50px;
    filter: none;
  }

  .toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .toggle-menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .toggle-menu img {
    width: 20px;
  }
}
